src/*.exe
src/bitcoin
src/bitcoind
src/test_bitcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.Po
*.patch
.bitcoin

twisterd
/build-aux

# emacs
*~
\#*\#
.\#

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/m4/*

#
/config.log
/config.status
/config.report

#
*.lo

#
/libtorrent_logs*
dht*.txt
dht*.log

# Compilation and Qt preprocessor part
*.qm
Makefile
bitcoin-qt
Bitcoin-Qt.app
libtool

# Unit-tests
Makefile.test
bitcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile

#50nodes-exp script
.global_vars

#xcode
*.deps
*.dirstamp
*UserInterfaceState.xcuserstate

#xcode documentation
Twisterd.xcodeproj
#xcode debugging
accomunet.xcodeproj/xcuserdata/gurghet.xcuserdatad/xcdebugger/.lock
accomunet.xcodeproj/xcuserdata/gurghet.xcuserdatad/xcschemes/accumunet-doc.xcscheme
accomunet.xcodeproj/xcuserdata/gurghet.xcuserdatad/xcdebugger/

debug.log
libtorrent/bin/
libtorrent/build-aux/compile
libtorrent/build-aux/config.rpath
libtorrent/build-aux/depcomp
libtorrent/build-aux/install-sh
libtorrent/build-aux/ltmain.sh
libtorrent/build-aux/missing
libtorrent/build-aux/test-driver
libtorrent/libtorrent-rasterbar-cmake.pc
libtorrent/libtorrent-rasterbar.pc
libtorrent/src/libtorrent-rasterbar.la
libtorrent/test/libtest.la
peers.dat
round_trip_ms.log
.lock

libtorrent/src/kademlia/.deps/dht_get.Po
libtorrent/src/kademlia/.deps/dht_tracker.Po
libtorrent/src/kademlia/.deps/find_data.Po
libtorrent/src/kademlia/.deps/refresh.Po
libtorrent/src/kademlia/.deps/routing_table.Po
libtorrent/src/kademlia/.deps/rpc_manager.Po
html-genuine/
html-old/
