/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.author {
    background-color: rgb(240,240,240);
    color: red;
    padding-right: 10px;
    padding-left: 25px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Lobster', cursive;
    border-radius: 5px;
}

.author a {
    color: rgb(190,20,0);
}

.author a:hover {
    color: rgb(230,40,20);
}

.producer {
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
    background-color: rgb(255,256,250);
    margin-bottom: 15px;
    border-radius: 3px;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

.internal {
}

aside {
    position: absolute;
    right: 0px;
    top: 0px;
    min-height: 100%;
    width: 40%;
    background-color: #fdd;
}

.post {
    margin: 20px;
    border-width: 10px;
    border-color: #cca;
    border-style: solid;
    border-radius: 2px;
    /*padding: 4px;*/
}

nav {
    position: relative;
    width: 100%;
    height: 100px;;
    background-color: rgba(220,220,250,0.5);
    padding: 7px;
    font-size: 55px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
}



#main-content {
    width: 100%;
    position: relative;
    background-color: rgba(250,256,254,0.8);
    padding-top: 20px;
    padding-bottom: 50px;
}
.author-mini {
    color: #663535;
    background-color: rgb(249,225,123);
    font-size: 20px;
    padding-left: 15px;
    font-weight: bold;
}

.minipost {
    margin: 5px;
    padding: 5px;
    background-color: rgb(252,219,142);
    border-radius: 5px;
}

.post-mini {
    /*padding: 4px;*/
}

#subscribe-button {
    border-style: solid;
    border-width: 3px;
    border-color: #494;
    /*padding: 4px;*/
    margin: 8px;
    position: absolute;
    /*left: 4px;*/
    top: 0px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #7a7;
}

#producer-posts {
}

#producer-buttons {
    height: 100px;
}

#feed {
    position: absolute;
    height: 45%;
    width: 100%;
    background-color: #ddc5bf;
}

#minimsgs {
    position: absolute;
    height: 45%;
    width: 100%;
    bottom: 0px;
    background-color: #d5ddc5;
}

#wrapper {
    width: 620px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100%;
    position: relative;
    height: 330px;
    background-image: url(https://yy2.staticflickr.com/3245/2605498464_bea7c31df9_z.jpg?zz=1);
    background-size: 100%;
    background-position: bottom;
    background-color: rgba(230, 220, 256, 0.2);
    vertical-align: bottom;
    display: inline-block;
}

body {
    background-image: url(http://upload.wikimedia.org/wikipedia/commons/5/51/Adobe_guadalupe_winery.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-size: 1270px;
}

.nav-button {
    color: rgb(100,0,0);
}

#current-user {
    position: absolute;
    right: 10px;
    bottom: -2px;
    font-size: 24px;
    color: black;
}
#current-user:hover {
    text-decoration: none;
}

.nav-button:after {
    content: ' / ';
}
.nav-button:before {
    content: ' / ';
}

.nav-button:hover {
    text-decoration: none;
    color: rgb(256,256,256);
}

.status {
    padding: 5px;
    text-indent: 23px;
}

.item {
    width: 280px;
    height: 200px;
    display: inline-block;
    background-color: white;
    margin: 10px;
    position: relative;
}

.item-text {
    width: 175px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    padding: 10px;
}

.generic-img-container {
    width: 100px;
    height: 200px;
    display: inline-block;
}

.generic-img-container:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin: 0px;
}

.generic-img {
    display: inline-block;
    vertical-align: middle;
    max-width: 95%;
    max-height: 100%;
}

.internal {
    padding-left: 10px;
    padding-right: 10px;
}

.action {
    width: 185px;
    text-align: center;
    display: inline-block;
    position: absolute;
    vertical-align: bottom;
    bottom: 0px;
    right: 0px;
    height: 50px;
}

.buy-btn {
    display: inline-block;
    background-color: rgba(220,150,40,.3);
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    font-size: 16px;
    color: rgb(40,0,0);
    border-style: solid;
    border-color: rgb(90,30,30);
    border-width:thin;
}

#title {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    font-style: italic;
    position: absolute;
    bottom: 15px;
    right: 15px;
}