<div class="row">
    <div class="col-md-4" data-ng-repeat="post in posts" id="producer-well">
        <div class="wrapper">
            <h1>{{post.title}}</h1>
            <img src="img/{{post.img}}" class="img-thumbnail">
            <p class="lead">{{post.text}}</p>
        </div>
    </div>
</div>

<!--
<section class="internal">
    <article class="item" data-ng-repeat="post in posts">
        <div class="generic-img-container">
        <img class="generic-img" src="http://www.erickrousephoto.com/data/photos/51_1wine_bottle.jpg">
        </div>
        <div class="item-text">
            <p>{{post.userpost.msg}}</p>
        </div>
        <div class="action">
        <a class="buy-btn" href data-ng-click="buy(post.userpost.msg)">Compra adesso</a>
        </div>
    </article>
</section>-->
